<!DOCTYPE html>
<html>
<head>
    <title>PcSleepTimer v0.1.0</title>
    <!-- Required meta tag for electron. -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

    <!-- CSS -->
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="clock.css">
    <link rel="stylesheet" href="main.css">

    <!-- Javascript -->
    <script src="../js/renderer.js"></script>
</head>
<body>
    <main>
        <input id="clock" value="0:00:10"></input>
        <div id="group_start" class="btn-group">
            <button id="btn_timer_start">Start</button>
        </div>
        <div id="group_running" class="btn-group hidden">
            <button id="btn_timer_stop" class="danger">Stop</button>
            <button id="btn_timer_reset">Reset</button>
        </div>
    </main>
</body>
</html>